<html>

<head>
    <title>WebChat</title>

    <link rel="stylesheet" href="/assets/bootstrap.css">
</head>

<body ng-app="Chat">
    <div class="content" ng-controller="chatController">
        <div class="row justify-content-md-center">
            <div class="col col-xs-10 col-md-3">
                <h1>WebChat</h1>
                <hr>
                <div class="list-group">
                    <div style="margin-bottom:5px" class="list-group-item list-group-item-action flex-column align-items-start active" ng-repeat="message in mensagens">
                        <div class="d-flex w-100 justify-content-between">
                            <small>{{message.nome}}</small>
                            <small>data</small>
                        </div>
                        <p class="mb-1">{{message.text}}</p>
                    </div>
                </div>
                <hr>
                <form ng-submit="click()">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" id="nome" name="Nome" placeholder="Digite algo..." required ng-model="Message.text">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" >Enviar</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/assets/angular.js"></script>
    <script>
        let myApp = angular.module('Chat', [])

        myApp.controller('chatController', function ($scope, $http) {

            let connection = new WebSocket(`ws://${window.location.hostname}:${window.location.port}/ws`)
            $scope.mensagens = []
            $scope.Message = {nome: 'welton'}

            connection.onopen = function (e){
                
            }
            connection.onmessage = function (e) {
                console.log(e.data)
                $scope.mensagens.push(JSON.parse(e.data))
                $scope.$apply()
            };

            connection.onclose = function(e){
                connection = new WebSocket(`ws://${window.location.hostname}:${window.location.port}/ws`)
            }
            
            $scope.click = function () {
                connection.send(JSON.stringify($scope.Message))
                $scope.Message.text = ''
            }
        });
    </script>
</body>

</html>